:root {
  --img-size: 400px;
  --scrollbar-width: 16px;
  transition: all 1s ease;
}

* {
  /* border: 1px solid grey; */
  font-family: 'Open Sans', sans-serif;
}


html {
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  margin: 30px;
  box-sizing: border-box;
  font-size: 1rem;
}

.infinite-bg {
  background:
radial-gradient(circle at 0% 50%, 
  rgba(96, 16, 48, 0) 
  9px, 
  rgb(170, 0, 85) 10px, 
  rgba(96, 16, 48, 0) 11px) 0px 10px,

radial-gradient(at 100% 100%,      
  rgba(96, 16, 48, 0) 9px, 
  rgb(170, 0, 85) 10px, 
  rgba(96, 16, 48, 0) 11px),
rgb(66, 0, 33);
background-size: 20px 20px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  transition: all 0.25s ease;
}

h2 > i {
  font-size: 1.75rem;
  color: #666;
}

.container {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px #00000066;
}

.wrapper {
  margin: 0 auto;
  overflow-y: scroll;
  height: calc(var(--img-size) - 50px);
  width: calc(var(--img-size) + var(--scrollbar-width));
}

.img-wrapper {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: var(--img-size);
  height: var(--img-size);
  background: linear-gradient(white, #dadada);
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.boxed {
  padding: 4px 8px;
  border: 1px solid grey;
}

.v-align, .h-align {
  display: flex;
  justify-content: center;
  text-align: center;
}

.v-align {
  flex-direction: column;
}

.h-align {
  flex-direction: row;
}

.p-rl-20, .p-lr-20 {
  padding: 0 20px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.b-l-0 {
  border-left: none;
}

@media only screen and (max-width: 500px) {
  :root {
    --img-size: 320px;
    transition: all 1s ease;
  }
  h2 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --img-size: 240px;
    transition: all 1s ease;
  }
  h2 {
    font-size: 1.5rem;
    transition: all 0.25s ease;
  }
}

details.description[open] > summary::after {
  content: attr(data-open);
}

details.description:not([open]) > summary::after {
  content: attr(data-close);
}

details.description > summary {
  margin-bottom:10px; 
  cursor:pointer; 
  outline:none;
}

details.description {
  color: #666;
}

details.description:hover > summary::after {
  color: #000;
}

/*////////*/
/* Footer */
/*////////*/

footer {
  color: #ffebf5;
  text-align: center;
  bottom: 0;
}

footer a {
  color: #ffebf5;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
}

footer a:hover {
  color: #fff;
  transition: all 0.2s ease;
  text-decoration: underline;
  font-weight: bold;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

.wrapper {
  scrollbar-color: #999 #e9e9e9 !important;
  scrollbar-width: var(--scrollbar-width) !important;
}

.wrapper::-webkit-scrollbar {
  width: 16px;
}

.wrapper::-webkit-scrollbar-track {
  background: #e9e9e9;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #999;
  border: 3px solid #e9e9e9;
  min-height: 40px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: #666;
}