:root {
  --img-size: 400px;
  --scrollbar-width: 16px;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: #999 #e0e0e0 !important;
  scrollbar-width: var(--scrollbar-width) !important;
}

body {
  margin: 30px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

h1, h2, h3 {
  font-weight: 800;
}

.wrapper {
  margin: 0 auto;
  overflow-y: scroll;
  height: calc(var(--img-size) - 50px);
  width: calc(var(--img-size) + var(--scrollbar-width));
}

.img-wrapper {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: var(--img-size);
  height: var(--img-size);
  background: linear-gradient(white, #dadada);
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  :root {
    --img-size: 320px;
    transition: all 1s ease;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --img-size: 240px;
    transition: all 1s ease;
  }
}

details.description[open] > summary::after {
  content: attr(data-open);
}

details.description:not([open]) > summary::after {
  content: attr(data-close);
}

details.description > summary {
  margin-bottom:10px; 
  cursor:pointer; 
  outline:none;
}

details.description {
  color: #666;
}

details.description:hover > summary::after {
  color: #000;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}